.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.comp {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow: hidden;
  padding-top: 20px;
  padding: 20px;
}
.leftComp {
  left: 0;
  background-color: #f9d371;
}
.rightComp {
  top: 150px;
  right: 0;
  background-color: #8843f2;
}
input {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
}
label {
  padding: 15px 15px 15px 0;
  display: inline-block;
}
button {
  margin-top: 20px;
  background-color: #ef2f88;
  color: #f9d371;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 3px;
}
